.App {
  text-align: left;
  background-color: white;
  font-size: calc(16px + 2vmin);
  color: #000000;
}

.AppDot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.AppGreenDot {
  background-color: green;
}

.AppRedDot {
  background-color: red;
}

.AppInvisible {
  /*visibility: hidden;*/
  display:none;
}


